<h1 class="movie__title">{{ Title }}</h1>
<img class="movie__img" src="{{ Poster }}" alt="{{ Title }}">
<p class="movie__text">Year: {{ Year }}</p>
<p class="movie__text">Rated: {{ imdbRating }}</p>
<p class="movie__text">Genre: {{ Genre }}</p>
<p class="movie__text">Director: {{ Director }}</p>
<p class="movie__text">Writers: {{ Writer }}</p>
<p class="movie__text">Actors: {{ Actors }}</p>
<p class="movie__text">Language: {{ Language }}</p>
<p class="movie__text">Country: {{ Country }}</p>
<p class="movie__text">Awards: {{ Awards }}</p>
<p class="movie__plot">Plot: {{ Plot }}</p>
